{% include 'peafowl-private/header.html' %}
{% include 'peafowl-private/nav.html' %}
<main class="main_game">
	<div class="boxes">
		{% if game.check_tag("sys", "staging") %}
			<div class="box warning">{{ ui.warnbox_staging }}</div>
		{% endif %}
		{% if game.check_tag("sys", "tagme") %}
			<div class="box notice">{{ ui.noticebox_tagme }}</div>
		{% endif %}
		{% if game.replaced_by %}
			<div class="box notice">{{ ui.noticebox_replacedby % (game.replaced_by.id + ".html", game.replaced_by.get_name(lang)|e) }}</div>
		{% endif %}
		{% if game.expunge %}
			<div class="box warning">{{ ui.warnbox_expunge }}</div>
		{% endif %}
	</div>
	<div class="tcframe tcsticky game_entry">
		<div class="leftbox">
			<h1 class="game_name">{{ game.get_name(lang)|e }}</h1>
			<div class="sscreen sscreen_logo">
				{% include 'peafowl-private/game_logo.html' %}
			</div>
			<section class="description">
				{{ game.get_description(lang).html }}
			</section>
			<div class="sscreen">
				{% include 'peafowl-private/game_links.html' %}
				<hr />
			</div>
			{% include 'peafowl-private/game_staff.html' %}
			{% include 'peafowl-private/game_tags.html' %}
			<section class="media">
				{% if game.sensitive_media %}
					<div class="warning box" id="sensitive_media_warn">
						{{ ui.game_sensitive_warning % (rr, lang) }}
					</div>
				{% endif %}
				{% for i in game.media %}
					{{ i.dom(rr, alt=game.get_name(lang)) }}
				{% endfor %}
			</section>
			<div class="sscreen">
				{% include 'peafowl-private/game_author_links.html' %}
			</div>
		</div>
		<div class="rightbox">
			{% include 'peafowl-private/game_logo.html' %}
			{% include 'peafowl-private/game_links.html' %}
			{% include 'peafowl-private/game_author_links.html' %}
		</div>
	</div>
</main>
<hr />
{% include 'peafowl-private/footer.html' %}
<script>
if (localStorage.getItem("show_sensitive") == "true") {
	$$('script[type="text/x-FGI-sensitive-media"]').forEach(i => {
		const media = JSON.parse(atob(i.textContent));
		if (media.type === "image") {
			const picture = make_picture(media.data, "", null);
			i.parentNode.insertBefore(picture, i);
		}
	});
	$$('script[type="text/x-FGI-sensitive-media-misc"]').forEach(i => {
		i.outerHTML = atob(i.textContent);
	});
	const warn = $("#sensitive_media_warn");
	if (warn != null)
		warn.parentNode.removeChild(warn);
}
if (localStorage.getItem("show_steam_widget") == "true") {
	$$('script[type="text/x-FGI-steam-widget"]').forEach(i => {
		i.outerHTML = atob(i.textContent);
	});
}
</script>
{% include 'peafowl-private/end.html' %}
