{% include 'peafowl-private/header.html' %}
{% include 'peafowl-private/nav.html' %}
<main class="main_game">
	<div class="boxes">
		{% if game.check_tag("sys", "staging") %}
			<aside class="box warning">
				{{ ifac.misc_icon("warn") }}
				<p>{{ ui.warnbox_staging }}</p>
			</aside>
		{% endif %}
		{% if game.replaced_by %}
			<aside class="box notice">
				{{ ifac.misc_icon("trash") }}
				<p>{{ ui.noticebox_replacedby % (game.replaced_by.id + ".html", game.replaced_by.get_name(lang)|e) }}</p>
			</aside>
		{% endif %}
		{% if game.expunge %}
			<aside class="box warning">
				{{ ifac.misc_icon("warn-t") }}
				<p>{{ ui.warnbox_expunge }}</p>
			</aside>
		{% endif %}
	</div>
	<div class="tcframe tcsticky game_entry">
		<div class="leftbox">
			<h1 class="game_name">{{ game.get_name(lang)|e }}</h1>
			<div class="sscreen sscreen_logo">
				{% include 'peafowl-private/game_logo.html' %}
			</div>
			<section class="description">
				{{ game.get_description(lang).html }}
			</section>
			<div class="sscreen">
				{% include 'peafowl-private/game_links.html' %}
				<hr />
			</div>
			{% include 'peafowl-private/game_staff.html' %}
			{% include 'peafowl-private/game_tags.html' %}
			<section class="media">
				{% if game.sensitive_media %}
					<aside class="warning box" id="sensitive_media_warn">
						{{ ifac.misc_icon("shield") }}
						<p>{{ ui.game_sensitive_warning % (rr, lang) }}</p>
					</aside>
				{% endif %}
				{% for i in game.media %}
					{{ i.dom(rr, alt=game.get_name(lang)) }}
				{% endfor %}
			</section>
			<div class="sscreen">
				{% include 'peafowl-private/game_author_links.html' %}
			</div>
			{% include 'peafowl-private/require-javascript.html' %}
			<section id="isso-thread" data-isso-id="games/{{ name }}/{{ lang_without_region }}"></section>
		</div>
		<div class="rightbox">
			{% include 'peafowl-private/game_logo.html' %}
			{% include 'peafowl-private/game_links.html' %}
			{% include 'peafowl-private/game_author_links.html' %}
		</div>
	</div>
</main>
<hr />
{% include 'peafowl-private/footer.html' %}
<script>
if (localStorage.getItem("show_sensitive") == "true") {
	$$('script[type="text/x-FGI-sensitive-media"]').forEach(i => {
		const media = JSON.parse(atob(i.textContent));
		if (media.type === "image") {
			const picture = make_picture(media.data, "", null);
			i.parentNode.insertBefore(picture, i);
		}
	});
	$$('script[type="text/x-FGI-sensitive-media-misc"]').forEach(i => {
		i.outerHTML = atob(i.textContent);
	});
	const warn = $("#sensitive_media_warn");
	if (warn != null)
		warn.parentNode.removeChild(warn);
}
if (localStorage.getItem("show_steam_widget") == "true") {
	$$('script[type="text/x-FGI-steam-widget"]').forEach(i => {
		i.outerHTML = atob(i.textContent);
	});
}
</script>
<script data-isso="//comments.furrygames.top/"
	data-isso-lang="{{ lang_unix_style }}"
	data-isso-avatar="false"
	src="//comments.furrygames.top/js/embed.min.js"></script>
{% include 'peafowl-private/end.html' %}
