{% include 'peafowl-private/header.html' %}
{% include 'peafowl-private/nav.html' %}

<main class="entry detailed">
{% include 'peafowl-private/list-chain.html' %}

{% for gid, game in games %}
{% set desc = game.get_description(lang).text %}
{% set game_name = game.get_name(lang) %}
	<article>
		<h4><a href="./games/{{ gid }}.html">{{ game_name|e }}</a></h4>
		<section class="description subheading">{{ desc|e }}</section>
		{% include 'peafowl-private/game_tags.html' %}
		<section class="resources subheading">
			{% include 'peafowl-private/game_logo.html' %}
			{% include 'peafowl-private/game_links.html' %}
		</section>
	</article>
	<hr />
{% endfor %}
</main>

{% include 'peafowl-private/footer.html' %}
