<ul class="staff">
{%- for i in game.authors -%}{% if not i.stub %}
	<li>
	{% set avatar = i.get_avatar() %}
	{% if avatar %}
		{{ avatar.with_rr(rr).html(node_class='avatar', alt=i.name) }}
	{% else %}
		<div class="avatar avatar-alt">{{ ifac.misc_icon("paw") }}</div>
	{% endif %}
		<span>
		{% if i.author %}
			<a href="{{ rr }}/{{ lang }}/authors/{{ i.author.id }}.html">{{ i.name }}</a>
		{% elif i.link_href %}
			<a target="_blank" href="{{ i.link_href }}">{{ i.name }}</a>
		{% else %}
			<div>{{ i.name }}</div>
		{% endif %}
			<span class="small roles">
			{% for i in i.roles %}
				<span>{{ ui["author-role-" + i] }}</span>
			{% endfor %}
			</span>
		</span>
	</li>
{% endif %}{%- endfor -%}
</ul>
