<header>
<nav class="subheading">
	<div class="title">{{ ui.page_title }}</div>
	<ul>
		<li><a href="{{ rr }}/{{ lang }}/index.html" class="{{ active_index }}">{{ ifac.misc_icon("home") }}{{ ui.nav_index }}</a></li>
		<li><a href="{{ rr }}/{{ lang }}/list.html" class="{{ active_list }}">{{ ifac.misc_icon("list") }}{{ ui.nav_list }}</a></li>
		<li><a href="{{ rr }}/{{ lang }}/search.html" class="{{ active_search }}">{{ ifac.misc_icon("search") }}{{ ui.nav_search }}</a></li>
		<li><a href="{{ rr }}/{{ lang }}/faq.html" class="{{ active_faq }}">{{ ifac.misc_icon("question") }}{{ ui.nav_faq }}</a></li>
		<li><a href="https://github.com/FurryGamesIndex/games/blob/master/CONTRIBUTORS.md">{{ ifac.misc_icon("paw") }}{{ ui.nav_contributors }}</a></li>
		<li><a href="{{ rr }}/languages.html" class="{{ active_languages }}">{{ ifac.misc_icon("language") }}{{ ui.nav_languages }}</a></li>
	</ul>
</nav>
</header>
