<header>
<nav>
	<div class="title">{{ ui.page_title }}</div>
	<ul>
		<li class="{{ active_index }}"><a class="iconline" href="{{ rr }}/{{ lang }}/index.html">{{ ifac.misc_icon("home") }}{{ ui.nav_index }}</a></li>
		<li class="{{ active_list }}"><a class="iconline" href="{{ rr }}/{{ lang }}/list.html">{{ ifac.misc_icon("list") }}{{ ui.nav_list }}</a></li>
		<li class="{{ active_search }}"><a class="iconline" href="{{ rr }}/{{ lang }}/search.html">{{ ifac.misc_icon("search") }}{{ ui.nav_search }}</a></li>
		<li class="{{ active_faq }}"><a class="iconline" href="{{ rr }}/{{ lang }}/faq.html">{{ ifac.misc_icon("question") }}{{ ui.nav_faq }}</a></li>
		<li><a class="iconline" href="https://github.com/FurryGamesIndex/games/blob/master/CONTRIBUTORS.md">{{ ifac.misc_icon("paw") }}{{ ui.nav_contributors }}</a></li>
		<li class="{{ active_languages }}"><a class="iconline" href="{{ rr }}/languages.html">{{ ifac.misc_icon("language") }}{{ ui.nav_languages }}</a></li>
	</ul>
</nav>
</header>
