<footer class="small">
<section>
	<p>{{ ui.copying_area_copyright }}</p>
	<p><a href="{{ rr }}/privacy-policy.html">{{ ui.copying_privacy_policy }}</a></p>
	<p><a href="{{ rr }}/credits.html">{{ ui.copying_oss }}</a></p>
</section>
<section>
	<p><a class="iconline" href="{{ rr }}/languages.html">{{ ifac.misc_icon("language") }}<span>{{ ui.nav_languages }}</span></a></p>
	<p><a class="iconline" href="{{ rr }}/{{ lang }}/preferences.html">{{ ifac.misc_icon("settings") }}<span>{{ ui.copying_preferences }}</span></a></p>
	<p>
		{{ ui.copying_area_tip }}
	</p>
	<address>
		{{ ui.game_contact_us }}<br>
		<a href="https://github.com/FurryGamesIndex/games" title="{{ ui.index_link_github }}">
			{{ ifac.site_icon("github") }}
		</a>
		<a id="email-link" href="javascript:void(0)" title="Contact us">
			{{ ifac.misc_icon("email") }}
		</a>
		<a href="https://t.me/FurryGamesIndex" title="{{ ui.index_link_tg }}">
			{{ ifac.site_icon("telegram") }}
		</a>
	</address>
	<p>{{ ui.copying_mailing_list_note }}</p>
</section>
<section>
	<p><a class="iconline" href="{{ rr }}/{{ lang }}/feed.xml">{{ ifac.misc_icon("rss") }}<span>{{ ui.copying_rss }}</span></a></p>
	<p>{{ ui.rss_desc }}</p>
</section>
</footer>
<script src="{{ res(rr, [ 'scripts', 'base.js' ]) }}"></script>
<script>
  const user = "list";
  const domain = "furrygames.top";
  document.getElementById("email-link").href = `mailto:${user}@${domain}`;
  document.getElementById("email-link").title = `${user}@${domain}`;
</script>
