body > *,
.container {
	width: var(--container-width);
	max-width: var(--container-width);
	margin-left: auto;
	margin-right: auto;
}

body > aside {
	width: 100%;
	max-width: 100%;
}

$screen_small_desktop {
	body > *:not(aside),
	.container {
		width: 100%;
		max-width: 100%;
		padding: 0 var(--increment);
	}
}
