.main_simple_markdown {
	margin: $main_column_gap 0;
	line-height: 1.49
}

.main_simple_markdown p {
	margin: 1em 0;
}

.main_simple_markdown table {
	border: 1px solid var(--accent-text-color);
	border-collapse: collapse;
}

.main_simple_markdown table td {
	padding: 7px var(--keyline);
}

.main_simple_markdown tbody>tr:nth-child(odd) {
	background-color: var(--accent-background-color);
}

.main_simple_markdown code {
	font-size: .94em;
	padding: 2px 4px;
	background-color: var(--accent-background-color);
	border-radius: 2px;
}


.main_preferences {
	margin: $main_column_gap 0;
}

.main_preferences article,
.main_preferences hr {
	margin-top: $main_column_gap;
}

.main_preferences h2 {
	margin-bottom: $main_column_gap;
}

.main_preferences .note {
	margin: $main_row_gap 0 0 26px;
}
