:root {
	--light-blue-50: #e1f5fe;
	--light-blue-100: #b3e5fc;
	--light-blue-200: #81d4fa;
	--light-blue-300: #4fc3f7;
	--light-blue-400: #29b6f6;
	--light-blue-500: #03a9f4;
	--light-blue-600: #039be5;
	--light-blue-700: #0288d1;
	--light-blue-800: #0277bd;
	--light-blue-900: #01579b;
	--light-blue-a100: #80d8ff;
	--light-blue-a200: #40c4ff;
	--light-blue-a400: #00b0ff;
	--light-blue-a700: #0091ea;
	--deep-orange-a400: #ff3d00;
	--deep-orange-a700: #dd2c00;
	--blue-grey-50: #eceff1;
	--blue-grey-100: #cfd8dc;
	--blue-grey-200: #b0bec5;
	--blue-grey-300: #90a4ae;
	--blue-grey-400: #78909c;
	--blue-grey-500: #607d8b;
	--blue-grey-600: #546e7a;
	--blue-grey-700: #455a64;
	--blue-grey-800: #37474f;
	--blue-grey-900: #263238;
	--blue-grey-950: #21272b;
	--grey-50: #fafafa;
	--grey-100: #f5f5f5;
	--grey-200: #eeeeee;
	--grey-300: #e0e0e0;
	--grey-400: #bdbdbd;
	--grey-500: #9e9e9e;
	--grey-600: #757575;
	--grey-700: #616161;
	--grey-800: #424242;
	--grey-850: #303030;
	--grey-900: #212121;
	--grey-950: #121212;

	--main-grid-unit: 360px;
	--main-column-gap: 40px;
	--main-row-gap: 20px; /* main-column-gap / 2 */
	--container-width: 1160px; /* 3 * --main-grid-unit + 2 * main-column-gap */

	--increment: 64px; /* FIXME: deprecated */
	--keyline: 24px;

	--primary-text-color: rgba(0, 0, 0, 0.87);
	--secondary-text-color-alt: rgba(0, 0, 0, 0.7);
	--secondary-text-color: rgba(0, 0, 0, 0.54);
	--hint-text-color: rgba(0, 0, 0, 0.38);
	--hint-text-color-alt: rgba(0, 0, 0, 0.2);
	--divider-color: rgba(0, 0, 0, 0.12);
	--accent-text-color: var(--light-blue-900);
	--accent-text-color-alt: var(--light-blue-700);
	--activated-text-color: var(--light-blue-800);
	--primary-background-color: var(--grey-50);
	--secondary-background-color: var(--blue-grey-50);
	--accent-background-color: var(--blue-grey-50);
	--warning-text-color: var(--deep-orange-a700);

	--display-4-leading: 7rem;
	--display-3-leading: 4rem;
	--display-2-leading: 3rem;
	--display-1-leading: 2.5rem;
	--headline-leading: 2rem;
	--title-leading: 1.75rem;
	--subheading-leading: 1.5rem;
	--body-leading: 1.25rem;
	--caption-leading: 1rem;

	font-size: 16px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-text-color: rgba(255, 255, 255, 1);
		--secondary-text-color-alt: rgba(255, 255, 255, 0.87);
		--secondary-text-color: rgba(255, 255, 255, 0.7);
		--hint-text-color: rgba(255, 255, 255, 0.5);
		--hint-text-color-alt: rgba(255, 255, 255, 0.38);
		--divider-color: rgba(255, 255, 255, 0.12);
		--accent-text-color: var(--light-blue-600);
		--accent-text-color-alt: var(--light-blue-400);
		--activated-text-color: var(--light-blue-500);
		--primary-background-color: var(--grey-900);
		--secondary-background-color: var(--blue-grey-950);
		--accent-background-color: var(--blue-grey-800);
		--warning-text-color: var(--deep-orange-a400);
	}
}

:lang(ja),
:lang(zh),
:lang(zh-cn),
:lang(zh-tw) {
	--display-4-leading: 8rem;
	--display-3-leading: 4.875rem;
	--display-2-leading: 3.9375rem;
	--display-1-leading: 3rem;
	--headline-leading: 2.125rem;
	--title-leading: 1.875rem;
	--subheading-leading: 1.625rem;
	--body-leading: 1.4375rem;
	--caption-leading: 1.25rem;
}

* {
	box-sizing: border-box !important;
	word-break: break-word; /* Bad idea, but it will make Safari happy :-( */
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	color: var(--primary-text-color);
	background-color: var(--primary-background-color);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-size: 16px;
	line-height: 1;
}

/* misc */

a {
	text-decoration: none;
	color: var(--accent-text-color);
}

p a:hover {
	text-decoration: underline;
}

dd a {
	padding: 0px 4px;
	border: 1px solid currentColor;
}

a,
a:hover,
a:active,
a:focus {
	outline: 0;
}

button {
	appearance: none;
	border: none;
	background-color: transparent;
	color: var(--accent-text-color);
	cursor: pointer;
}

a:hover,
button:hover {
	color: var(--accent-text-color-alt);
}

code {
	padding: 2px 4px;
	background-color: var(--accent-background-color);
	border-radius: 2px;
}


dl {
	margin: 0;
}

dt {
	flex-basis: 100%;
	margin-bottom: 4px;
}

dd {
	display: inline-flex;
	margin: 0;
	margin-bottom: 4px;
}

dd:not(:last-of-type) {
	margin-right: 4px;
}

hr {
	margin: 0;
	border-color: var(--divider-color);
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

/*h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 400;
}*/

p {
	margin: 0;
	margin-bottom: 7px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.activated {
	font-weight: 700;
}

::selection {
	color: #ffffff;
	background-color: var(--blue-grey-500);
}

.version-warning {
	align-self: stretch;
	background-color: var(--secondary-background-color);
}

.version-warning .container {
	display: grid;
	grid-template-columns: 40px auto;
	column-gap: 16px;
	justify-items: start;
	align-items: center;
}

.version-warning span {
	color: var(--blue-grey-500);
}

.version-warning p {
	margin: 13px 0;
}

.version-warning .icon {
	font-size: 1.25rem;
}

.iconline {
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: center;
}

.iconline > .icon {
	font-size: 1.25em;
	margin-right: 0.5em;
}

/* frame */

body > *,
.container {
	width: var(--container-width);
	max-width: var(--container-width);
	margin-left: auto;
	margin-right: auto;
}

body > aside {
	width: 100%;
	max-width: 100%;
}

@media (max-width: 1288px) {
	body > *:not(aside),
	.container {
		width: 100%;
		max-width: 100%;
		padding: 0 var(--increment);
	}
}

/* header, nav */

header {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 16px;
}

header nav {
	width: 100%;
	min-height: 48px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 16px;
}

header h3 {
	margin-right: var(--main-column-gap);
	margin-bottom: 8px;
}

header ul {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4px;
}

header li {
	margin-bottom: 4px;
}

header li:not(:last-of-type) {
	margin-right: var(--keyline);
}

header .iconline > .icon {
	font-size: 1.125em;
	margin-right: 8px;
}

footer {
	display: grid;
	grid-template-columns: repeat(3, var(--main-grid-unit));
	column-gap: var(--main-column-gap);
	row-gap: 20px;
	margin: var(--main-column-gap) 0;
}

address {
	font-style: normal;
	margin-top: 5px;
}

address a {
	display: inline-block;
	padding: 12px 6px;
}

address a .icon {
	font-size: 1.25rem;
}

/* index.html */

.main_index {
	display: grid;
	grid-template-columns: repeat(3, var(--main-grid-unit));
	gap: calc(var(--main-column-gap) / 2) var(--main-column-gap);
	margin: var(--main-column-gap) 0;
}

hgroup {
	grid-column: 1/-1;
}

.main_index h1 {
	font-size: 3.5rem;
	font-weight: 700;
	letter-spacing: -0.005em;
	line-height: var(--display-3-leading);
	margin-bottom: 3px;
}

.main_index h2 {
	font-size: 1.5rem;
	letter-spacing: 0em;
	line-height: var(--headline-leading);
	margin-bottom: 3px;
}

.main_index article {
	grid-column: span 2;
}

.main_index nav {
	font-size: 1.5rem;
	letter-spacing: 0em;
	line-height: var(--headline-leading);
	column-gap: var(--main-column-gap);
}

.main_index nav a:not(:last-of-type) {
	margin-bottom: 20px;
}

/* list.html, list-*c*.html, game.html */

.main_list {
	display: grid;
	grid-auto-flow: row;
	margin: var(--main-column-gap) 0;
	row-gap: 24px;
}

.category {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: var(--main-column-gap);
	align-items: start;
	margin-bottom: var(--main-column-gap);
	word-break: keep-all;
}

.category > li {
	display: grid;
	grid-auto-flow: row;
	row-gap: 4px;
}

.category > li:first-of-type ul {
	display: grid;
	grid-template-columns: max-content auto;
	column-gap: var(--main-column-gap);
}

.game_name {
	margin: 0;
	font-weight: 700;
	font-size: 2.125rem;
	letter-spacing: 0em;
	line-height: var(--display-1-leading);
}

.game_name span {
	font-size: 1.5rem;
	letter-spacing: 0em;
	line-height: var(--headline-leading);
}

.main_list article {
	display: grid;
	grid-template-columns: repeat(3, var(--main-grid-unit));
	grid-template-rows: max-content max-content auto;
	column-gap: var(--main-column-gap);
}

.main_list .game_name {
	grid-column: span 2;
	margin-bottom: 6px;
}

.main_list article > picture {
	grid-column-end: -1;
	grid-row: 1/-1;
	align-self: center;
}

.main_list:not(.sifted) article > picture img {
	aspect-ratio: 16/9;
}

.main_game {
	display: grid;
	grid-template-columns: repeat(3, var(--main-grid-unit));
	grid-template-rows: repeat(4, max-content) auto;
	column-gap: var(--main-column-gap);
	margin: var(--main-column-gap) 0;
}

.main_game .game_name {
	margin-bottom: 16px;
}

.main_game hr {
	margin: var(--keyline) 0;
}

.description {
	grid-column: span 2;
}

.main_list.detailed .description {
	margin-bottom: var(--main-column-gap);
}

.main_game .description {
	margin-bottom: var(--main-column-gap);
	font-size: 1.25rem;
	letter-spacing: 0.005em;
	line-height: var(--headline-leading);
}

.media {
	grid-column: span 2;
}

.media picture {
	margin-bottom: 16px;
}

.tags {
	grid-column: span 2;
	column-gap: var(--main-column-gap);
	column-count: 2;
}

.main_list.detailed .tags {
	margin-bottom: 8px;
}

.main_game .tags {
	margin-bottom: var(--main-column-gap);
}

.tags div {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	break-inside: avoid-column;
}

.tags div:not(:last-of-type) {
	margin-bottom: 8px;
}

.staff {
	grid-column: span 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: var(--main-column-gap);
	margin-bottom: var(--main-column-gap);
}

.staff ul {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.staff ul.secondary {
	row-gap: 8px;
	padding-top: 4px;
}

.staff li {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	align-items: center;
	column-gap: 20px;
}

.staff .primary li {
	padding: 6.5px 0;
}

.staff .secondary li {
	padding: 2.5px 0;
}

.staff .secondary .icon {
	color: var(--secondary-text-color);
}

.avatar {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	flex-shrink: 0;
	overflow: hidden;
}

.avatar::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	border: 1px solid var(--divider-color);
	box-sizing: border-box;
}

.avatar img {
	display: flex;
}

.staff li > span > span {
	display: flex;
	flex-wrap: wrap;
}

.staff li > span > span span:not(:last-of-type) {
	margin-right: 8px;
}

.staff li > span > span {
	margin-top: -1px;
}

.main_list.detailed .resources {
	margin-bottom: 20px;
}

.platforms {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 8px 0;
	margin-top: 8px;
	break-after: column;
}

.platforms .icon {
	font-size: 1.25rem;
	margin-left: 0.2em;
}

.resources li,
.author ul li {
	padding: 8px 0;
}

.resources p {
	margin-bottom: 4px;
}


.resources {
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: -1;
	align-self: start;
}

.main_list.detailed .resources {
	top: var(--keyline);
}

.main_game .resources {
	bottom: 0;
	padding-bottom: var(--keyline);
}

@supports (position: sticky) {
	.main_game .resources {
		min-height: calc(100vh - 2 * var(--keyline));
		position: sticky;
		align-self: end;
	}
}

@media (max-width: 1128px) {
	.main_game {
		grid-template-columns: 600px auto;
	}
}

@media (max-width: 1068px) {
	.main_game {
		grid-template-columns: auto 300px;
	}
}

/* author.html */

.author {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.author .avatar {
	width: var(--increment);
	height: var(--increment);
	margin-right: var(--keyline);
}

.author h4 {
	margin: 0;
}

.author h5 {
	color: var(--secondary-text-color);
}

.author ul {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, max-content);
	column-gap: 40px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

/* preferences.html */

.main_preferences {
	display: grid;
	grid-auto-flow: row;
	row-gap: var(--main-column-gap);
	margin: var(--main-column-gap) 0;
}

.main_preferences h2 {
	font-weight: 700;
	margin-bottom: 22px;
}

/* simple_md.html */

.main_simple_markdown {
	margin-bottom: 40px;
}

/*.main_simple_markdown h2 {
	font-weight: 700;
	margin-bottom: 18px;
}

.main_simple_markdown h3 {
	font-size: 1.25rem;
	letter-spacing: 0.005em;
	line-height: var(--title-leading);
	font-weight: 700;
	margin-bottom: 8px;
}*/

/* language.html */

.languages > ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: var(--main-column-gap);
	row-gap: var(--keyline)
}

.languages > ul ul {
	display: grid;
	grid-auto-flow: row;
	row-gap: var(--keyline);
}

/* FIXME: move these */

/*

@media (max-width: 948px) {
    .main_list[class~="detailed"] article {
        display: flex;
        flex-direction: column;
    }
    .main_game {
        grid-template-columns: auto;
        margin-top: var(--keyline);
    }
    .main_game h4 {
        order: 1;
    }
    :where(:lang(zh), :lang(ja)) .main_game h4 {
        margin-bottom: 4px;
    }
    :lang(en) .main_game h4 {
        margin-bottom: 7px;
    }
    .resources {
        order: 2;
        column-gap: var(--main-column-gap);
    }
    .main_game .resources {
        margin-bottom: 40px;
    }
    :where(:lang(zh), :lang(ja)) .resources picture {
        margin-top: 7px;
    }
    :lang(en) .resources picture {
        margin-top: 8px;
    }
    :is(.main_game, .main_list[class~="detailed"]) .description {
        order: 3;
    }
    .staff {
        order: 4;
    }
    .tags {
        order: 5;
    }
    .media {
        order: 6;
    }
    .main_list[class~="detailed"] .tags {
        margin-bottom: 20px;
    }
    .languages > ul {
        grid-template-columns: auto var(--main-grid-unit);
    }
    .author ul {
        grid-template-columns: repeat(3, max-content);
    }
}

@media (max-width: 948px) and (min-width: 769px) {
    .resources {
        column-count: 2;
    }
}

@media (max-width: 888px) {
    .main_index {
        grid-template-columns: auto;
    }
    .main_list article,
    footer,
    .languages > ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 888px) and (min-width: 649px) {
    .main_index nav {
        column-count: 2;
    }
    .main_index nav a:nth-of-type(2) {
        break-after: column;
    }
}

@media (max-width: 768px) {
    .main_list article {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .main_list:not(.sifted) article > picture img {
        aspect-ratio: 2/1;
    }
    .main_list article:where(:lang(zh), :lang(ja)) > picture {
        margin-bottom: 13px;
    }
    .main_list article:lang(en) > picture {
        margin-bottom: 14px;
    }
    .author ul {
        grid-template-columns: repeat(2, max-content);
    }
}

@media (max-width: 648px) {
    h1 {
        font-size: 2.8125rem;
        letter-spacing: 0em;
        line-height: var(--display-2-leading);
    }
    h2 {
        font-size: 1.25rem;
        letter-spacing: 0.005em;
        line-height: var(--title-leading);
    }
    .faq h3 {
        font-size: 1rem;
        letter-spacing: 0.01em;
        line-height: var(--subheading-leading);
    }
    .staff {
        grid-template-columns: auto;
        row-gap: 4px;
    }
    .staff .secondary .icon {
        padding: 0 8px;
    }
    .category > li:first-of-type {
        grid-column: 1/-1;
    }
    .languages > ul,
    .author ul,
    footer {
        grid-template-columns: auto;
    }
}

@media (max-width: 648px) and (min-width: 633px) {
    .version-warning,
    header,
    .main_list,
    .main_game {
        padding: 0;
    }
    .version-warning .container,
    header nav,
    .main_list > *,
    .main_game > * {
        max-width: calc(var(--main-grid-unit) * 4 / 3 + var(--main-column-gap));
    }
}

@media (max-width: 632px) {
    :root {
        --increment: 56px;
    }
}

@media (min-width: 473px) {
    .author ul {
        padding-left: calc(var(--increment) + var(--keyline));
    }
}

@media (max-width: 472px) {
    .main_list[class~="detailed"] .description,
    .main_game .description {
        font-size: 1rem;
        letter-spacing: 0.01em;
        line-height: var(--subheading-leading);
    }
    .description:where(:lang(zh), :lang(ja)) h5 {
        margin-top: 15px;
    }
    .description:lang(en) h5 {
        margin-top: 17px;
        margin-bottom: 7px;
    }
    h1 {
        font-size: 2.125rem;
        letter-spacing: 0em;
        line-height: var(--display-1-leading);
    }
    .version-warning,
    header,
    .main_index,
    .main_list,
    .main_game,
    footer {
        padding: 0;
    }
    .version-warning .container,
    header nav,
    .main_index > *,
    .main_list > *,
    .main_game > *,
    body > hr,
    footer > * {
        max-width: var(--main-grid-unit);
    }
    .main_preferences {
        max-width: var(--main-grid-unit);
        padding: 0;
        row-gap: 20px;
    }
    .category {
        grid-template-columns: repeat(2, auto);
        gap: var(--keyline);
    }
    .main_preferences {
        margin-top: 20px;
    }
    .author ul {
        margin-top: 8px;
    }
    .main_list[class~="sifted"] .icon {
        width: var(--increment);
        text-align: center;
    }
}

@media (max-width: 408px) {
    header {
        margin-top: 8px;
    }
    .main_index,
    .main_list {
        margin-top: 20px;
    }
    .main_index article {
        order: 3;
    }
    .main_index nav {
        font-size: 1.25rem;
        letter-spacing: 0.005em;
        line-height: var(--title-leading);
    }
    .main_index nav a:not(:last-of-type) {
        margin-bottom: 10px;
    }
    .main_index .icon {
        font-size: 1.5rem;
    }
}

@media (max-width: 392px) {
    :root {
        --keyline: 16px;
    }
    .version-warning,
    header,
    .main_index,
    .main_list,
    .main_game,
    .main_preferences,
    .languages,
    .faq,
    footer {
        padding: 0 var(--keyline);
    }
    body > hr {
        max-width: calc(100% - 2 * var(--keyline));
    }
}

@media (max-width: 320px) {
    .category,
    .category > li:first-of-type ul {
        grid-template-columns: auto;
    }
}
*/

.display4 {
    font-size: 7rem;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: var(--display-4-leading);
}

.display3 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: -0.005em;
    line-height: var(--display-3-leading);
}

.display2 {
    font-size: 2.8125rem;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: var(--display-2-leading);
}

.display1 {
    font-size: 2.125rem;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: var(--display-1-leading);
}

.headline {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: var(--headline-leading);
}

.title {
    font-size: 1.25rem;
    letter-spacing: 0.005em;
    line-height: var(--title-leading);
}

.subheading {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: var(--subheading-leading);
}

.body1,
.body2 {
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    line-height: var(--body-leading);
}

.body1 {
    font-weight: 400;
}

.body2 {
    font-weight: 500;
}

.caption {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: var(--caption-leading);
}
