<div class="gamewarn tip">
{% if "type" in game.tags %}
{% if "yiff" in game.tags.type or
        "gore" in game.tags.type
%}
<div class="iconline">{{ ifac.misc_icon("shield") }}<span>{{ ui.gamewarn_yiff }}</span></div>
{% endif %}
{% endif %}

{% if "lang" in game.tags %}
{% if lang_without_region + "-unofficial" in game.tags.lang %}
<div class="iconline">{{ ifac.misc_icon("warn") }}<span>{{ ui.gamewarn_lang_unofficial }}</span></div>
{% elif lang_without_region not in game.tags.lang %}
<div class="iconline">{{ ifac.misc_icon("warn") }}<span>{{ ui.gamewarn_nolang }}</span></div>
{% endif %}
{% endif %}

{% if "misc" in game.tags %}
{% if "work-in-process" in game.tags.misc %}
<div class="iconline">{{ ifac.misc_icon("warn") }}<span>{{ ui.gamewarn_ongoing }}</span></div>
{% endif %}
{% if "unpublished" in game.tags.misc %}
<div class="iconline">{{ ifac.misc_icon("warn") }}<span>{{ ui.gamewarn_unpublished }}</span></div>
{% endif %}
{% if "died" in game.tags.misc %}
<div class="iconline">{{ ifac.misc_icon("warn") }}<span>{{ ui.gamewarn_died }}</span></div>
{% endif %}
{% if game.check_tag("misc", "suspended") %}
<div class="iconline">{{ ifac.misc_icon("warn") }}<span>{{ ui.gamewarn_suspended }}</span></div>
{% endif %}
{% if "expired" in game.tags.misc %}
<div class="iconline">{{ ifac.misc_icon("trash") }}<span>{{ ui.gamewarn_expired }}</span></div>
{% endif %}
{% if "not-only-furry-topic" in game.tags.misc %}
<div class="iconline">{{ ifac.misc_icon("warn-t") }}<span>{{ ui.gamewarn_notonlyfurry }}</span></div>
{% endif %}
{% endif %}

{% if "platform" in game.tags %}
{% if "shockwave-flash" in game.tags.platform and game.tags.platform|length == 1 %}
<div class="iconline">{{ ifac.misc_icon("heart-broken") }}<span>{{ ui.gamewarn_deprecated_shockwave_flash }}</span></div>
{% endif %}
{% endif %}
</div>
<div class="links links-group">
{% for i in game.links %}
	{{ i.html(ui, lang, rr=rr, node_class="iconline", target="_blank") }}
{% endfor %}
</div>
