<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if meta is defined %}
	<title>{{ meta.title }} - {{ ui.page_title }}</title>
	<meta name="keywords" content="{{ ui.base_keywords }}{{ meta.extra_keywords }}">
	<meta property="og:title" content="{{ meta.title }} - {{ ui.page_title }}"/>
	<meta property="og:description" content="{{ meta.description }}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:image" content="{{ meta.image }}"/>
{% else %}
	<title>{{ ui.page_title }}</title>
	<meta name="keywords" content="{{ ui.base_keywords }}">
{% endif %}
	<meta name="description" content="{{ ui.page_description }}">
{% if noindex is defined and noindex %}
	<meta name="robots" content="noindex">
{% endif %}
	<link rel="stylesheet" href="{{ res(rr, [ 'styles', 'pioneer.css' ]) }}">
	<link rel="stylesheet" href="{{ res(rr, [ 'icons', 'icon.css' ]) }}">
{% if extra_styles is defined %}
	<style>{{ extra_styles }}</style>
{% endif %}
</head>
<body>
{% if "infobar" in ui %}
	<div id="infobar">{{ ui.infobar }}</div>
{% endif %}
	<div id="infobar_rt" class="flexline hide">
		<a class="iconbtn _cbtn" href="#!">{{ ifac.misc_icon("close") }}</a>
		<div class="_content"></div>
	</div>
	<div id="navbar">
		<div class="title">{{ ui.page_title }}</div>
		<div id="navlinks">
		<a href="{{ rr }}/{{ lang }}/index.html" class="{{ active_index }}">{{ ifac.misc_icon("home") }}<span>{{ ui.nav_index }}</span></a>
		<a href="{{ rr }}/{{ lang }}/list.html" class="{{ active_list }}">{{ ifac.misc_icon("list") }}<span>{{ ui.nav_list }}</span></a>
		<a href="{{ rr }}/{{ lang }}/search.html" class="{{ active_search }}">{{ ifac.misc_icon("search") }}<span>{{ ui.nav_search }}</span></a>
		<a href="{{ rr }}/{{ lang }}/faq.html" class="{{ active_faq }}">{{ ifac.misc_icon("question") }}<span>{{ ui.nav_faq }}</span></a>
		<a href="https://github.com/FurryGamesIndex/games/blob/master/CONTRIBUTORS.md">{{ ifac.misc_icon("paw") }}<span>{{ ui.nav_contributors }}</span></a>
		<a href="{{ rr }}/languages.html" class="{{ active_languages }}">{{ ifac.misc_icon("language") }}<span>{{ ui.nav_languages }}</span></a>
		</div>
	</div>
	<div id="app">
