{% include 'peafowl-private/header.html' %}
{% include 'peafowl-private/nav.html' %}
<main class="main_author">
	<div class="tcframe tcsticky author_entry">
		<div class="leftbox item_container">
			{% for game in author.games %}
				<article class="item inleftbox">
					{% include 'peafowl-private/list_item.html' %}
				</article>
				<hr />
			{% endfor %}
		</div>
		<div class="rightbox">
			<div class="author_head">
				{{ author.avatar.with_rr(rr).html(node_class='avatar', alt=author.name) }}
				<h1>{{ author.name }}</h1>
			</div>

			{% if author.aliases %}
			<ul class="author_aliases">
				<li class="iconline">{{ ifac.misc_icon("at") }}<span>{{ author.name }}</span></li>
				{% for i in author.aliases %}
					<li class="iconline">{{ ifac.misc_icon("at") }}<span>{{ i }}</span></li>
				{% endfor %}
			</ul>
			{% endif %}

			<hr />
			<ul class="link_container">
			{% for i in author.links %}
				<li>{{ i.html(ui, lang, node_class="iconline", target="_blank") }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</main>
{% include 'peafowl-private/footer.html' %}
{% include 'peafowl-private/end.html' %}
