<div class="tip copying_area">
{{ ui.copying_area_tip }}<br><br>

<a class="iconline" href="{{ rr }}/{{ lang }}/feed.xml"><i class="fas fa-rss fa-fw"></i> {{ ui.copying_rss }}</a>
{{ ui.rss_desc }}<br><br>

{{ ui.copying_area_copyright }}<br><br>
<a href="{{ rr }}/privacy-policy.html">{{ ui.copying_privacy_policy }}</a><br>
<a href="{{ rr }}/credits.html">{{ ui.copying_oss }}</a>
<div class="contact_us tip">
	{{ ui.game_contact_us }}
	<div>
		<a class="iconbtn" href="https://github.com/FurryGamesIndex/games" title="{{ ui.index_link_github }}">
			<i class="fab fa-github fa-fw"></i>
		</a>
		<a class="iconbtn" href="mailto:webmaster@furrygames.top" title="webmaster@furrygames.top">
			<i class="far fa-envelope fa-fw"></i>
		</a>
		<a class="iconbtn" href="https://t.me/FurryGamesIndex" title="{{ ui.index_link_tg }}">
			<i class="fab fa-telegram-plane fa-fw"></i>
		</a>
	</div>
</div>
</div>
