<div class="tip copying_area">
{{ ui.copying_area_tip }}<br><br>

<a class="iconline" href="{{ rr }}/{{ lang }}/feed.xml">{{ ifac.misc_icon("rss") }}<span>{{ ui.copying_rss }}</span></a>
{{ ui.rss_desc }}<br><br>

{{ ui.copying_area_copyright }}<br><br>
<a href="{{ rr }}/{{ lang }}/preferences.html">{{ ui.copying_preferences }}</a><br>
<a href="{{ rr }}/privacy-policy.html">{{ ui.copying_privacy_policy }}</a><br>
<a href="{{ rr }}/credits.html">{{ ui.copying_oss }}</a>
<div class="contact_us tip">
	{{ ui.game_contact_us }}
	<div>
		<a class="iconbtn" href="https://github.com/FurryGamesIndex/games" title="{{ ui.index_link_github }}">
			{{ ifac.site_icon("github") }}
		</a>
		<a class="iconbtn" href="mailto:webmaster@furrygames.top" title="webmaster@furrygames.top">
			{{ ifac.misc_icon("email") }}
		</a>
		<a class="iconbtn" href="https://t.me/FurryGamesIndex" title="{{ ui.index_link_tg }}">
			{{ ifac.site_icon("telegram") }}
		</a>
	</div>
</div>
</div>
