<div class="authors">
{% for i in game.authors %}{% if not i.stub %}
	<div class="author">
	{% set avatar = i.get_avatar() %}
	{% if avatar %}
		{{ avatar.with_rr(rr).html(node_class='authoravatar', alt=i.name) }}
	{% else %}
		<div class="authoravatar alt">{{ ifac.misc_icon("paw") }}</div>
	{% endif %}
		<div class="authorinfo">
		<div class="authorname">{% if i.author %}<a href="{{ rr }}/{{ lang }}/authors/{{ i.author.id }}.html">{{ i.name }}</a>
		{% elif i.link_href %}<a target="_blank" href="{{ i.link_href }}">{{ i.name }}</a>
		{% else %}{{ i.name }}{% endif %}</div>
			<div class="authorroles tip">
			{% for i in i.roles %}
				<span>{{ ui["author-role-" + i] }}</span>
			{% endfor %}
			</div>
		</div>
	</div>
{% endif %}{% endfor %}
</div>
