<div class="default topbox">
{% if checktag(game, "sys", "staging") %}
	<div class="box warning">{{ ui.warnbox_staging }}</div>
{% endif %}
{% if checktag(game, "sys", "tagme") %}
	<div class="box notice">{{ ui.noticebox_tagme }}</div>
{% endif %}
</div>
<div class="game">
	<div class="leftbox">
		<div class="name">{{ get(game, lang, 'name')|e }}</div>
		<div class="description">{{ get_desc(game, lang) }}</div>
		<div class="tags"><table><tbody>
		{% for group in game.tags %}
			<tr>
				<td class="taggroup">{{ group }}: </td>
				<td>
				{% for tag in game.tags[group] %}
				<div class="tag"><a href="../search.html?tag?{{ group }}:{{ tag }}">{{ tag }}</a></div>
				{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</tbody></table></div>
		<div class="screenshots">
		{% if "sensitive_media" in game %}
			<div class="warning box" id="sensitive_media_warn">
				{{ ui.game_sensitive_warning % (rr, lang) }}
			</div>
		{% endif %}
		{% for i in game.screenshots %}
		{{ image.dom(rr, i, name) }}
		{% endfor %}
		</div>
	</div>
	<div class="rightbox">
		<img class="thumbnail" src="{{ image.uri(rr, game.thumbnail, name) }}" >
		<div class="links links-group">
		{% for i in game.links %}
			{% set li = link_info(i, game.tr, ui, lang) %}
			<a href="{{ li.href }}" target="_blank">{{ li.content }}</a>
		{% endfor %}
		</div>
		{% include 'copying.html' %}
		<div class="contact_us tip">
			{{ ui.game_contact_us }}<br>
			<a href="https://github.com/FurryGamesIndex/games"><i class="fab fa-github fa-fw"></i> {{ ui.index_link_github }}</a><br>
			<a href="https://t.me/FurryGamesIndex"><i class="fab fa-telegram-plane fa-fw"></i> {{ ui.index_link_tg }}</a>
		</div>
	</div>
</div>
<script src="{{ rr }}/scripts/base.js"></script>
<script>
if (localStorage.getItem("show_sensitive") == "true") {
	$$(".sensitive_img").forEach(i => {
		i.src = i.dataset.realsrc;
		i.classList.remove("hide")
	});
	$("#sensitive_media_warn").classList.add("hide");
}
</script>
