<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ ui.page_title }}</title>
	<meta name="description" content="A project to index furry & kemono games.">
	<link rel="stylesheet" href="{{ rr }}/styles/main.css?v=1">
	<link rel="stylesheet" href="{{ rr }}/styles/fa.all.min.css">
</head>
<body>
	<div id="navbar">
		<div class="title">{{ ui.page_title }}</div>
		<a href="{{ rr }}/{{ lang }}/index.html" class="{{ active_index }}"><i class="fas fa-home fa-fw"></i> {{ ui.nav_index }}</a>
		<a href="{{ rr }}/{{ lang }}/list.html" class="{{ active_list }}"><i class="fas fa-list-ul fa-fw"></i> {{ ui.nav_list }}</a>
		<a href="{{ rr }}/{{ lang }}/search.html" class="{{ active_search }}"><i class="fas fa-search fa-fw"></i> {{ ui.nav_search }}</a>
		<a href="{{ rr }}/{{ lang }}/faq.html" class="{{ active_faq }}"><i class="far fa-question-circle fa-fw"></i> {{ ui.nav_faq }}</a>
		<a href="https://github.com/FurryGamesIndex/games/blob/master/CONTRIBUTORS.md"><i class="fas fa-paw fa-fw"></i> {{ ui.nav_contributors }}</a>
		<a href="{{ rr }}/languages.html" class="{{ active_languages }}"><i class="fas fa-globe-americas fa-fw"></i> {{ ui.nav_languages }}</a>
	</div>
	<div id="app">

