<div class="index default">
	<div class="main">
		<div class="col-1">
			{{ ui.index_content }}
		</div>
		<div class="col-2">
			<a class="iconline" href="{{ rr }}/{{ lang }}/list.html"><i class="fas fa-list-ul fa-fw"></i><span>{{ ui.index_link_games }}</span></a>
			<a class="iconline" href="{{ rr }}/{{ lang }}/search.html"><i class="fas fa-search fa-fw"></i><span>{{ ui.index_link_search }}</span></a>
			<a class="iconline" href="https://github.com/FurryGamesIndex/games/blob/master/doc/Contribute.{{ lang }}.md"><i class="fas fa-paw fa-fw"></i><span>{{ ui.index_link_contribute }}</span></a>
			<a class="iconline" href="https://github.com/FurryGamesIndex/games/blob/master/CONTRIBUTORS.md"><i class="fas fa-paw fa-fw"></i><span>{{ ui.index_link_contributors }}</span></a>
			<a class="iconline" href="https://github.com/FurryGamesIndex/games"><i class="fab fa-github fa-fw"></i><span>{{ ui.index_link_github }}</span></a>
			<a class="iconline" href="https://t.me/FurryGamesIndex"><i class="fab fa-telegram-plane fa-fw"></i><span>{{ ui.index_link_tg }}</span></a>
		</div>
	</div>
	<div class="blogs">
	</div>
{% include 'copying.html' %}
</div>
<script src="{{ res(rr, '/scripts/base.js') }}"></script>
