{% include 'peafowl-private/header.html' %}
{% include 'peafowl-private/nav.html' %}
<main class="main_list item_container detailed">
{% include 'peafowl-private/list-chain.html' %}

{% for gid, game in games %}
{% set game_name = game.get_name(lang) %}
	<article class="item_complex">
		<h2 class="game_name"><a href="./games/{{ gid }}.html">{{ game_name|e }}</a></h2>
		<div class="tcframe game_entry">
			<section class="leftbox">
				<div class="description">{{ game.get_description(lang).html }}</div>
				{% include 'peafowl-private/game_staff.html' %}
				{% include 'peafowl-private/game_tags.html' %}
			</section>
			<section class="rightbox">
				{% include 'peafowl-private/game_logo.html' %}
				{% include 'peafowl-private/game_links.html' %}
			</section>
		</div>
	</article>
	<hr />
{% endfor %}
</main>
{% include 'peafowl-private/footer.html' %}
{% include 'peafowl-private/end.html' %}
