body {
	$flex;
	$flex_column_nowrap;
	$flex_items_center;
}

body > aside {
	width: 100%;
	max-width: 100%;
}

body > *:not(aside),
.container {
	width: 100%;
	max-width: $main_max_width;
	margin-left: auto;
	margin-right: auto;
	padding: 0 $main_border;
}

$screen_mobile_l2 {
	body > *:not(aside),
	.container {
		padding: 0 $main_border_small;
	}
}

$screen_small_mobile {
	body > *:not(aside),
	.container {
		padding: 0 $main_border_tiny;
	}
}
