footer {
	display: grid;
	grid-template-columns: repeat(3, $main_grid_unit);
	column-gap: $main_column_gap;
	row-gap: 20px;
	margin: $main_column_gap 0;
}

footer address {
	font-style: normal;
	margin-top: 5px;
}

footer address a {
	display: inline-block;
	padding: 12px 6px;
}

footer address a .icon {
	font-size: 1.25rem;
}

$screen_small_desktop {
	footer {
		grid-template-columns: auto $main_grid_unit;
	}
}

$screen_tablet_l2 {
	footer {
		grid-template-columns: repeat(2, 1fr);
	}
}

$screen_mobile {
	footer {
		grid-template-columns: auto;
	}
}
