aside.box,
.version-warning {
	background-color: var(--secondary-background-color);
}

aside.box,
.version-warning .container {
	$flex;
	$flex_row_nowrap;
	$flex_items_center;
}

aside.box {
	padding: 0 16px;
	margin: $main_row_gap 0;
}

aside.box .icon,
.version-warning .icon {
	color: var(--bar-icon-color);
	font-size: 1.25rem;
	margin-right: $main_row_gap;
}

aside.box p,
.version-warning p {
	margin: 13px 0;
}


.iconline {
	$flex;
	$flex_row_nowrap;
	justify-content: start;
	align-items: center;
}

.iconline > .icon {
	font-size: 1.25em;
	margin-right: 0.5em;
}


.avatar-alt {
	$flex;
	$flex_items_center;
	$flex_justify_center;
}

.avatar {
	border-radius: 50%;
	overflow: hidden;
}


.link_container li {
	padding: 8px 0;
}

.link_container p {
	margin-bottom: 4px;
}
