.item_container > hr {
	margin: $alt_row_gap 0;
}

.item_container > hr:last-of-type {
	margin: $main_column_gap 0 0 0;
}

.item {
	$flex;
	$flex_row_nowrap;
}

.item_complex {
	$flex;
	$flex_column_nowrap;
}

.item > section {
	$flex_grow_1x;

	margin-right: $main_column_gap;
}

.item .game_name,
.item_complex .game_name {
	margin: 0 0 2px 0;
	font-size: 2.125rem;
}

.item > picture {
	$flex_shrink_off;
	$flex_self_center;
}

.item > picture > img {
	max-width: $thumbnail_max_width;
	width: $thumbnail_max_width;
	height: auto;
}

.item.inleftbox > picture > img {
	max-width: $thumbnail_max_width_small;
	width: $thumbnail_max_width_small;
	height: auto;
}

.item_complex .tags {
	margin-bottom: 8px;
}

@supports (position: sticky) {
	.item_complex .rightbox {
		position: sticky;
		top: $alt_row_gap;

		$flex_self_start;
	}
}

$screen_small_desktop {
	.item.inleftbox {
		$flex;
		$flex_column_nowrap;
	}

	.item.inleftbox > picture {
		$flex_self_stretch;

		-webkit-order: 0;
		order: 0;

		margin-bottom: 14px;
	}

	.item.inleftbox > picture > img {
		max-width: $thumbnail_max_width;
		width: 100%;
		height: auto;
	}

	.item.inleftbox > section {
		-webkit-order: 1;
		order: 1;

		margin-right: 0;
	}
}

$screen_tablet_l2 {
	.item {
		$flex;
		$flex_column_nowrap;
	}

	.item > picture {
		$flex_self_stretch;

		-webkit-order: 0;
		order: 0;

		margin-bottom: 14px;
	}

	.item_complex .rightbox {
		position: static;
		top: unset;
	}

	.item > picture > img,
	.item_complex .thumbnail {
		max-width: $thumbnail_max_width;
		width: 100%;
		height: auto;
	}

	.item > section {
		-webkit-order: 1;
		order: 1;

		margin-right: 0;
	}
}

$screen_mobile_l3 {
	.item .game_name,
	.item_complex .game_name {
		font-size: 1.5rem;
	}
}
