.main_list {
	margin-top: $main_column_gap;
}

.main_list > hr {
	margin: $main_row_gap 0;
}

.main_list > hr:last-of-type {
	margin: $main_column_gap 0 0 0;
}

.main_list .category {
	display: table;
	margin-bottom: $main_row_gap;
}

.main_list .category > li {
	display: table-row;
}

.main_list .category > li > * {
	display: table-cell;
	padding: 4px 0;
}

.main_list .category .cthead {
	padding-right: 12px;
	text-align: right;
	white-space: nowrap;
}

.main_list .category .ctbody {
	$flex;
	$flex_row_wrap;
}

.main_list .category .ctbody > *:not(:last-of-type) {
	margin-right: 8px;
}
