@media (prefers-color-scheme: dark) {
	.isso-postbox textarea
	.isso-postbox input {
		background: rgba(0, 0, 0, 0.2);
		color: var(--secondary-text-color-alt);
	}

	.isso-postbox h4,
	.isso-postbox .isso-comment-header {
		color: var(--hint-text-color);
	}
}	
