* {
	box-sizing: border-box !important;
}

html {
	font-size: 16px;
	line-height: 1.32;
}

html[lang=zh-cn],
html[lang=zh-tw] {
	line-height: 1.42;
}

:root {
	--background-color: white;
	--text-color: black;
	--link-color: #08c;
	--link-color-hover: #005580;
	--tip-color: grey;
	--border-color: grey;
	--tag-border-color: #aaa;
	--box-warn-border-color: #fc3;
	--box-warn-color: #fff3ca;
	--box-notice-border-color: #6cf;
	--box-notice-color: #f0faff;
	--infobar-color: #f3f3f3;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color: #e8e8e8;
		--background-color: #212121;
		--background-color: black;
		--text-color: white;
		--link-color: #70ace5;
		--link-color-hover: #0086ca;
		--tip-color: #bbb;
		--border-color: #989898;
		--tag-border-color: #777;
		--box-warn-border-color: #dea700;
		--box-warn-color: #886900;
		--box-notice-border-color: #006ca2;
		--box-notice-color: #002f46;
		--infobar-color: #424242;
	}

	img {
		opacity: 0.9;
	}
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: sans-serif;

	margin: 0;
}

a {
	color: var(--link-color);
	text-decoration: none;
	transition: color .2s;
}

a:hover {
	color: var(--link-color-hover);
	text-decoration: none;
}

a,
a:hover,
a:active,
a:focus {
	outline: 0;
}

code {
	padding: 4px 8px;
	margin: 0 2px;
	font-size: .9em;
	background-color: rgba(27,31,35,.05);
	border-radius: 6px;
}

.hide {
	display: none !important;
}

.tip {
	color: var(--tip-color);
	font-size: 0.96em;
}

.links-group a {
	font-size: 1.02em;
	padding: 4px 1px;
	line-height: 1.46em;
}

.box {
	padding: 10px;
}

.box.warning {
	border: 1px solid var(--box-warn-border-color);
	background-color: var(--box-warn-color);
}

.box.notice {
	border: 1px solid var(--box-notice-border-color);
	background-color: var(--box-notice-color);
}

.iconline {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.iconline>i {
	flex: 0 0 auto;
}

.iconline>span {
	flex: 0 1 auto;
	margin-left: 6px;
}

#infobar {
	background-color: var(--infobar-color);
	text-align: center;
	padding: 12px;
}

.default,
#navbar {
	padding: 12px;
}

#navbar {
	display: flex;
	flex-flow: row nowrap;
}

#navbar>.title {
	display: inline-block;
	font-size: 1.12em;
	margin-right: 20px;
	flex: 1 0 auto;
}

#navlinks {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

#navlinks>a {
	margin: 0 6px;
	flex: 0 0 auto;
}

#navlinks>a.actived {
	font-weight: bold;
}

#navlinks>a>span {
	line-height: 1em;
	margin-left: 4px;
}

#navbar,
#app,
.center_page {
	width: 940px;
	max-width: 940px;
	margin: 0 auto;
}

.contact_us {
	margin-top: 10px;
	line-height: 1.4em;
}

@media screen and (max-width: 940px) {
	/* fix for mobile safari */
	body {
		-webkit-text-size-adjust: 100%;
	}

	#navbar,
	#app {
		width: 100%;
	}

	#navbar {
		flex-flow: column wrap;
		align-items: stretch;
	}

	#navbar>.title {
		margin: 0 0 12px;
	}

	#navlinks>a:not(.actived)>span {
		display: none;
	}
}

/* stylesheet for index.html */

#contact {
	padding-left: 12px;
}

.index>.main {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;

	border-bottom: 1px solid var(--border-color);
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.index h1 {
	font-size: 1.24em;
}

.index .col-1 {
	flex: 1 1 auto;
}

.index .col-2 {
	flex: 0 0 auto;
	margin: 40px 20px;
}

.index .col-2>a {
	font-size: 1.4em;
	margin-top: 10px;
}
.index .col-2>.tip {
	font-size: 1em;
	margin-left: 38px;
}

@media screen and (max-width: 940px) {
	.index>.main {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;
	}

	.index .col-2 {
		margin: 20px 0;
	}
}

/* stylesheet for list.html and search.html */

.items {
	padding: 12px;
}

.items>.item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	border-bottom: 1px solid var(--border-color);
	padding: 12px 0;
	min-height: 174px;
}

.items .thumbnail {
	width: 230px;
	max-width: 230px;
	margin-right: 12px;
	flex: 0 0 auto;
	max-height: 150px;
	object-fit: contain;
}

.items .name {
	font-size: 1.12em;
}

.items .description {
	color: var(--tip-color);
	font-size: 0.94em;
}

#search_box #search_mode {
	min-height: 26px;
}

#search_box #search_wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 8px;
}

#search_box #search_value {
	line-height: 1.4;
	min-height: 26px;
	max-width: 400px;
	margin: 5px 6px 0 0;
	flex: 1 0 auto;
}

@media screen and (max-width: 940px){
	.items>.item {
		flex-flow: column nowrap;
		align-items: flex-start;
	}

	.items .thumbnail {
		max-width: 100%;
		margin: 12px 0;
	}

	.items .description {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
	}
}

/* stylesheet for games/*.html */

.game {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 12px;
}

.topbox .box:not(:last-child) {
	margin-bottom: 8px;
}

.game>.leftbox {
	display: inline-block;
	flex-shrink: 1;
	flex-grow: 1;
}

.game>.leftbox .onmobile {
	display: none;
}

.game h1 {
	font-size: 1.24em;
	font-weight: bold;
	margin: 0 0 12px 0;
}

.game .description {
	font-size: 0.96em;
	margin-bottom: 12px;
}

.game .description img {
	max-width: 100%;
	padding: 16px 32px;
}

.game .description * {
	font-size: 0.96em !important;
}

.game .tags {
	margin-bottom: 12px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--border-color);

	line-height: 1.32em;
}

.game .taggroup {
	text-align: right;
	padding-top: 3px;
}

.game .tag {
	display: inline-block;
	padding: 2px 6px;
	margin: 2px;
	border: 1px solid var(--tag-border-color);
}

.game .screenshots>* {
	width: 100%;
}

#sensitive_media_warn {
	margin-bottom: 12px;
}

.game>.rightbox {
	display: inline-block;
	width: 300px;
	max-width: 300px;
	padding: 8px;
	margin-left: 12px;
}

.game .thumbnail {
	width: 280px;
	min-width: 280px;
	max-width: 280px;
	max-height: 280px;
}

.game .platforms {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-end;

	margin: 10px 0;
	color: var(--tip-color);
}

.game .platforms>* {
	margin-left: 2px;
}

.game .gamewarn>* {
	margin: 8px 2px;
}

.game .links {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;

	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--border-color);
}


@media screen and (max-width: 940px) {
	.game {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;
	}

	.game>.leftbox .onmobile {
		display: block;
	}

	.game>.leftbox .game_logo {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	.game .screenshots {
		padding-bottom: 12px;
		margin-bottom: 12px;
		border-bottom: 1px solid var(--border-color);
	}

	.game>.rightbox {
		display: none;
	}
}
