{% include 'pioneer-private/header.html' %}
<div class="default tip" id="lang_tip"></div>
<div id="langs" class="default links-group">
	<a class="iconline" href="{{ rr }}/en/">{{ ifac.misc_icon("language") }}<span>English</span></a>
	<a class="iconline" href="{{ rr }}/zh-cn/">{{ ifac.misc_icon("language") }}<span>简体中文（Simplified Chinese）</span></a>
	<a class="iconline" href="{{ rr }}/zh-tw/">{{ ifac.misc_icon("language") }}<span>繁體中文（Traditional Chinese）</span></a>
</div>
<div class="iconline box notice">
	{{ ifac.misc_icon("language") }}
	<span>Please help us translate FurryGamesIndex. If you want to see that your language listed in here, don't hesitate to contact the maintainer via <a href="https://github.com/FurryGamesIndex/games">Github</a> or <a href="https://t.me/UtopicPanther">Telegram</a>!</span>
</div>
<div class="default">
{% include 'pioneer-private/copying.html' %}
</div>
<script src="{{ res(rr, [ 'scripts', 'base.js' ]) }}"></script>
<script>
const regexp = new RegExp(window.location.host + "/[a-z\\-]*/($|games/|list|index|search|faq|preferences).*");
const match = document.referrer.match(regexp)

if (match !== null && match.length >= 1) {
	let path = match[0].substring(match[0].indexOf('/') + 1);
	path = path.substring(path.indexOf('/') + 1);
	console.log(path);

	$$('#langs a').forEach(a => {
		a.href = a.href + path;
	});

	$('#lang_tip').textContent = "Note: you will be redirected to <Language>/" + path;
} else if (window.location.host === "") {
	$$('#langs a').forEach(a => {
		a.href = a.href + "index.html";
	});
}

</script>
{% include 'pioneer-private/footer.html' %}
