{% include 'pioneer-private/header.html' %}
{% include 'pioneer-private/list-chain.html' %}
<div class="items">
{% for name, game in games %}
{% set desc = game.get_description(lang).text %}
{% set game_name = game.get_name(lang) %}
	<div class="item">
		{{ game.thumbnail.with_rr(rr).html(node_class="thumbnail", alt=game_name) }}
		<div class="content">
			<div class="name"><a href="games/{{ name }}.html">{{ game_name|e }}</a></div>
			<div class="description">{{ (desc[:480] + (desc[480:] and '...'))|e }}</div>
		</div>
	</div>
{% endfor %}
	<div style="height: 20px;"></div>
{% include 'pioneer-private/copying.html' %}
</div>
<script src="{{ res(rr, [ 'scripts', 'base.js' ]) }}"></script>
{% include 'pioneer-private/footer.html' %}
