name: deploy-website

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: tg-notify
      env:
       TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}
       TELEGRAM_TO_EN: ${{ secrets.TELEGRAM_TO_EN }}
       TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      run: |
        ./scripts/newgame-tg.sh

    - name: install-dep
      run: |
        sudo apt -y update || true
        sudo apt -y install git python3 python3-yaml python3-jinja2 python3-pip python3-setuptools python3-pil webp
        pip3 install --user git+https://github.com/FurryGamesIndex/python-markdown2

    - name: fix-mtime
      run: |
        ./scripts/fix-mtime.sh

    - name: build
      run: |
        python3 --version
        cwebp -version
        ./generate.py --images-candidate-webp --with-rss --plugin steam-cdn-unite,verbose=1 output

    - name: ssh-key
      uses: shimataro/ssh-key-action@v2
      with:
         key: ${{ secrets.SSH_PRIVATE_KEY_RSA }}
         name: id_rsa
         known_hosts: ${{ secrets.KNOWN_HOSTS }}

    - name: deploy
      run: | 
        mv .git _git
        echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
        git config --global user.email "noreply@example.com"
        git config --global user.name "deploy-bot"
        cd output
        git init
        git remote add origin git@github.com:FurryGamesIndex/FurryGamesIndex.github.io
        git add .
        git commit -m 'deploy website'
        git push -f origin master
        cd ..
        rm -rf output
        mv _git .git

    - name: cn-build
      run: |
        ./generate.py --no-sitemap --images-candidate-webp --with-rss --plugin steam-cdn-unite,cdn=china --plugin cn-optimize --plugin webp-converter-stub output-cn

    - name: cn-deploy
      run: | 
        mv .git _git
        echo -e "Host gitlab.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
        git config --global user.email "noreply@example.com"
        git config --global user.name "deploy-bot"
        cd output-cn
        git init
        git remote add origin git@gitlab.com:furrygamesindex/cn-netlify-build.git
        git add .
        git commit -m 'deploy cn website'
        git push -f origin master
        cd ..
        rm -rf output-cn
        mv _git .git

    - name: next-build
      run: |
        ./scripts/build-next.sh init origin
        ./scripts/build-next.sh build output-next || true
        echo "FGI_NEXT_DONE=1" >> "${GITHUB_ENV}"

    - name: next-deploy
      if: ${{ env.FGI_NEXT_DONE == '1' }}
      uses: dswistowski/surge-sh-action@v1
      with:
        domain: 'next-build.furrygames.top'
        project: './output-next'
        login: ${{ secrets.surge_login }}
        token: ${{ secrets.surge_token }}

    - name: sync-mirror
      run: |
        echo -e "Host gitee.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
        git push git@gitee.com:furrygamesindex/games.git master || true
        echo -e "Host gitlab.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
        git push git@gitlab.com:furrygamesindex/games.git master || true
        echo -e "Host bitbucket.org\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
        git push git@bitbucket.org:furrygamesindex/games.git master || true
